.top-toolbar {
    display: flex;
    align-items: center;
}

.top-toolbar svg, .top-toolbar .headings {
    margin: 0.5em 0.5em;
}

.top-toolbar .headings {
    font-size: 0.8em;
}

.href-input {
    padding: 0.2em;
}

.href-input span {
    margin: 0em 0.3em;
}

.href-input span:hover {
    cursor: pointer;
}

.editor-area {
    padding: 0 2em;
}

.top-toolbar {
    padding: 0 1.4em;
}

.ProseMirror {
    min-height: 15em;
}
